
.text{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 2s,
    cursor .4s step-end infinite alternate;
    animation-iteration-count: 1;
}

.logotype{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 4s,
    cursor 0.4s steps(16);
    animation-iteration-count: 1;
}

/* cursor blinking */
@keyframes cursor {
  50% {border-color: transparent}
}

@keyframes typing {
  from{width:0}
}
