/*
Colours used in this code:
- Background: #1D1A39
- Accent Green: #626E60
- Button One (pink): #F39F5A
- Button One Hover: #AC848D
- Button Two (green): #C2D4A9
- Button Two Hover: #71805B
- Default Text: #F0DDCB
- Dark Text: #2B2B2B
*/
html{
  cursor: url('../images/cursor.png'), default;
}

body {
  font-size: 14px;
  font: 'Vinque';
  text-align: left;
  margin-left: 3rem;
  margin-right: 3rem;
  letter-spacing: .05rem;
  color: #F0DDCB;
  font-weight: normal;
  /* height: 100vh; */
}

header {
  font-size: 1.25rem;
  z-index: 2;
  display: flex;
  position: fixed;
  top: 1rem;
  width: 95%;
  /* background-color: #141414; */
}

nav a {
  font-family: 'Alpinecia';
  font-weight: bold;
  margin: 1.05rem;
  color: #FFF0C7;
  text-decoration: none;
  transition: 0.75s;
}

nav a:hover, nav a:focus {
  color: #F39F5A;
  cursor: url('../images/cursor1.png'), default;

}

nav {
 text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vinque';
  font-weight: bold;
  color: #F0DDCB;
}

footer {
  font-weight: 100;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  align-items: baseline;
  text-align: right;
  flex-wrap: wrap;
  flex: 2;
  margin-top: 24rem;
  margin-bottom: 0;
}

/* --------------------------- STYLING CSS CODE --------------------------- */
.button {
  font-family: 'Alpinecia';
  font-size: 1.25rem;
  border-style: solid;
  border-color: #F0DDCB;
  border-width: thin;
  text-align: center;
  border-radius: 1.5rem;
  padding: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #F0DDCB;
  background-color: #1D1A39;
  text-decoration: none;
  transition-duration: 1s;
}

.button:hover {
  cursor: url('../images/cursor1.png'), default;
  background-color: #F39F5A;
  border-style: solid;
  border-color: #F0DDCB;
  border-width: thin;
}

/* ------------------------ IMAGE SIZING CSS CODE ------------------------ */
.logo-img {
  /* max-width: 30vw; */
}

.book-img {
  max-width: 50vw;
}

/* .narrative-img-container {
  display: grid;
  max-width: 100vw;
  max-height: 100vh;
  margin-left: -3rem;
  margin-right: -3rem;
  margin-top: -1rem;
}

.narrative-img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
} */



/* --------------------- CONTAINER SPACING CSS CODE --------------------- */
.title{
  flex: 1;
  flex-wrap: wrap;
}

.title-text {
  text-decoration: none;
  transition: 0.5s;
}

.title-text:hover {
  color: #F39F5A;
  cursor: url('../images/cursor1.png'), default;
}

.main-nav {
  /* font-weight: 100; */
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  align-items: right;
  text-align: right;
  flex-wrap: wrap;
  flex: 2;
}

.home-text-container {
  text-align: center;
}

.logotype {
  display: inline-block;
  /* align-content: center; */
  text-align: center;
  margin-top: 33vh;
  /* justify-content: center; */
  font-size: 6vw;
  color: #F0DDCB;
}

.starting-buttons-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.newgame-container {
  margin-right: 6rem;
}

.rulebook {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.bottom-stuff {
  position: fixed;
  bottom: 3rem;
  /* left: 2rem;
  right: 4rem; */
  display: flex;
  flex: 4;
  width: 95%;
  justify-content: space-between;
  /* margin-top: -8rem; */
}

.next-button-container {
  flex-shrink: 0;
  /* display: flex; */
  /* justify-content: flex-end; */
  /* margin-top: -3rem; */
  /* z-index: 3; */
}

.back-button-container {
  flex-shrink: 0;
  /* display: flex;
  justify-content: flex-start; */
  /* margin-top: -4rem; */
}

.text-container {
  text-align: center;
  display: inline;

  /* background: rgba(232, 188, 185, 5); */
  /* z-index: 1; */
  /* margin-top: -4rem; */
}

.text {
  color: #F39F5A;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: inline-block; */
  margin-top: -0.01rem;
}

.next-narrative {
  position: fixed; /* Keeps the button fixed to the viewport */
  bottom: 4rem; /* Distance from the bottom of the screen */
  right: 4rem; /* Distance from the right side of the screen */
  /* padding: 10px 20px; */
}

.back-narrative {
  position: fixed; /* Keeps the button fixed to the viewport */
  bottom: 4rem; /* Distance from the bottom of the screen */
  left: 4rem; /* Distance from the right side of the screen */
  /* padding: 10px 20px; */
}
