/*
Colours used in this code:
- Background: #1D1A39
- Accent Green: #626E60
- Button One (pink): #F39F5A
- Button One Hover: #AC848D
- Button Two (green): #C2D4A9
- Button Two Hover: #71805B
- Default Text: #F0DDCB
- Dark Text: #2B2B2B
*/
html{
  cursor: url('../images/cursor.png'), default;
}

body {
  font-size: 14px;
  font: 'Vinque';
  text-align: left;
  margin-left: 3rem;
  margin-right: 3rem;
  letter-spacing: .05rem;
  color: #F0DDCB;
  font-weight: normal;
  background-image: url('../images/background.png');
  background-image:
  /* height: 100vh; */
}

header {
  font-size: 1.25rem;
  z-index: 2;
  display: flex;
  position: fixed;
  top: 1rem;
  width: 95%;
  /* background-color: #141414; */
}

nav a {
  font-family: 'Alpinecia';
  font-weight: bold;
  margin: 1.05rem;
  color: #FFF0C7;
  text-decoration: none;
  transition: 0.75s;
}

nav a:hover, nav a:focus {
  color: #F39F5A;
  cursor: url('../images/cursor1.png'), default;

}

nav {
 text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vinque';
  font-weight: bold;
  color: #F0DDCB;
}

.background-img{
  background-image: url(images/background.png);
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(rgba(24,89,93,1), rgba(12,45,48,1));S */
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -1;
}

.background {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(29,26,57), rgb(29,26,57), rgb(29,26,57), rgb(69,25,82), rgb(102,37,73), rgb(174,68,90), rgb(243,159,90));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -1;
}

footer {
  font-weight: 100;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  align-items: baseline;
  text-align: right;
  flex-wrap: wrap;
  flex: 2;
  margin-top: 24rem;
  margin-bottom: 0;
}

/* --------------------------- STYLING CSS CODE --------------------------- */
.button {
  font-family: 'Alpinecia';
  font-size: 1.25rem;
  border-style: solid;
  border-color: #F0DDCB;
  border-width: thin;
  text-align: center;
  border-radius: 1.5rem;
  padding: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #F0DDCB;
  background-color: #1D1A39;
  text-decoration: none;
  transition-duration: 1s;
}

.button:hover, .button:focus {
  cursor: url('../images/cursor1.png'), default;
  background-color: #F39F5A;
  border-style: solid;
  border-color: #F0DDCB;
  border-width: thin;
}
/* ------------------------ IMAGE SIZING CSS CODE ------------------------ */
.logo-img {
  /* max-width: 30vw; */
}

.book-img {
  max-width: 50vw;
}

/* --------------------- CONTAINER SPACING CSS CODE --------------------- */
.title{
  flex: 1;
  flex-wrap: wrap;
}

.title-text {
  text-decoration: none;
  transition: 0.5s;
}

.title-text:hover {
  color: #F39F5A;
  cursor: url('../images/cursor1.png'), default;
}

.main-nav {
  /* font-weight: 100; */
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  align-items: right;
  text-align: right;
  flex-wrap: wrap;
  flex: 2;
}

.logotype {
  display: flex;
  /* align-content: center; */
  margin-top: 35vh;
  justify-content: center;
  font-size: 6vw;
  color: #F0DDCB;
}

.starting-buttons-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.newgame-container{
  margin-right: 6rem;
}

.rulebook {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}


/* ----------------- TRYING INVOLT ARDUNIO TO HTML --------------------- */

/*Rangelider*/

.rangeslider{
	max-width: 300px;
	height: 40px;
	padding:0 10px;
}

.rangeslider>.label{
	display: none;
}

.rangeslider>.slider{
	height: 40px;
	padding-top:21px;
}

.noUi-base{
	background: rgb(0,186,255);
	width: 100%;
	height: 4px;
	position: relative;
}

.noUi-handle{
	background: rgb(0,186,255);
	width: 20px;
	height: 20px;
	border-radius: 20px;
	position: relative;
	left: -10px;
	top: -8px;
	z-index: 1;
	cursor:pointer;
}

.noUi-origin{
	background: #e5e5e5;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}

.tooltip{
	background: #e5e5e5;
	color:#363636;
	min-width: 50px;
	height: 25px;
	margin-top: -20px;
	margin-left:-25px;
	border-radius: 4px;
	font-size:14px;
	line-height: 25px;
	text-align: center;
	position: relative;
	float:left;
}

.tooltip:after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	border: solid transparent;
	border-top-color: #e5e5e5;
	border-width: 8px;
	margin-left: -8px;
}

/*Rangeslider with constant label instead of tooltip */

.rangeslider.label-constant>.tooltip{
	display: none!important;
}

.rangeslider.label-constant>.slider{
	width: 90%;
	padding-left: 15px;
	float: right;
}

.rangeslider.label-constant.rangeslider>.label{
	width: 10%;
	font-size: 20px;
	line-height: 46px;
	text-align: center;
	display: block;
	float: left;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
